# TOOLS
/base-frame
/cli

# LIBS
/app-boot
/base-temp
/entity
/env
/error
/logger
/node-session
/orm
/test-contractor
/util

# OTHER
/.build
/.tmp

# DEPRECATED
/vision
/node-app
/node-env
/node-error
/node-log
/node-temp
/node-util
